
<div class="navbar">
  <a href="/signup">Sign Up</a>
  <a href="/login" class="active">Log In</a>
</div>

<h1>Log In</h1>
    <form method="post" action='/login'>
    <ul>
        <input type="email" name="email" placeholder="Email"><br></br>
        <input type="password" name="password" placeholder="Password"><br>
    </ul>    
        <input type="submit" value="Log In">
    </form>