
<div class="navbar">
<a href="/students/<%=current_user.slug %>">Home</a>
<a href="/posts">All Publications</a>
<a href="/courses" class="active">All Courses</a>
<a href="/logout" class="right">Log Out</a>
</div>

<h1>All Courses</h1>

<ul>
    <% @courses.sort_by(&:name).each do |course| %>
        <div class="side">
        <h4><a href="/courses/<%= course.slug %>"><%= course.name %></a></h4>
        <i class="description"><%= course.description %></i>
        <a href="/courses/">Enroll</a>
        </div>
        <br></br> 
    <% end %>

</ul>    
</br>

<a href="/courses/new">Add a Course</a>
