
<div class="navbar">
<a href="/students/<%=current_user.slug %>">Home</a>
<a href="/posts">All Publications</a>
<a href="/courses" class="active">All Courses</a>
<a href="/logout" class="right">Log Out</a>
</div>

<h1>All Courses</h1>

<ul>
    <% @courses.each do |course| %>
        <h4><a href="/courses/<%= course.slug %>"><%= course.name %></a></h4>
        <li><%= course.description %></li><br>
        <a href="/courses/">Enroll</a>
        <br></br> 
    <% end %>

</ul>    
</br>

<a href="/course/create_course">Add a Course</a>