
<div class="navbar">
<a href="/students/<%=current_user.slug %>">Home</a>
<a href="/posts">All Publications</a>
<a href="/courses">All Courses</a>
<a href="/logout" class="right">Log Out</a>
</div>

<h1>Create a post</h1>
    <p>
    <form method="post" action="/posts">
        <input type="text" name="title" placeholder="Title"><br></br>
        
            <select name="course" id="courses">
                <% @courses.each do |course|%>
                <option name="course" value="<%= course.name %>"><%= course.name%> </option><br>
                <% end %>
        </select><br></br>

        <textarea name="content" rows="10" cols="30">Share some knowledge!</textarea><br>
    </p>
        <input type="submit" value="Create Post">
    </form>