<!DOCTYPE html>
    <html>  
        <head>
            <title>Study Hall</title>


            <link rel="stylesheet" href="/stylesheets/main.css"/>

            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
        </head>

        <body>
        <div class="header">
            <h1 id="header">Study Hall</h1>
            <p> The best place to share resourses! </p>
        </div>
        

                <%= yield %>


        </body>
    </html>



