<!DOCTYPE html>
    <html>  
        <head>
            <title>Study Hall</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/style.css">
        </head>

        <body>
            <h1>Welcome to Study Hall!</h1>
                <%= yield %>
        </body>
    </html>



